In [1]:
import ast              # Módulo de Árboles de Sintaxis Abstracta
import pandas as pd     # Librería para manipular datasets
import pyarrow as pa    # Útil para operaciones de lectura y escritura de datos
import pyarrow.parquet as pq   # Útil para leer y escribir datos en formato Parquet de manera eficiente
import os               # creación de directorios y comprobación de existencia
import matplotlib.pyplot as plt
from textblob import TextBlob

In [2]:
#se carga la base de datos
df_categoria = pd.read_parquet('tabla categoria.parquet')

In [3]:
df_categoria

,categories,business_id
6,"Sporting Goods, Fashion, Shoe Stores, Shopping...",n_0UpQx1hsNbnPUSlodU8w
10,"Department Stores, Shopping, Fashion",UJsufbvfyfONHeWdvAHKjA
13,"General Dentistry, Dentists, Health & Medical,...",jaxMSoInw8Poo3XeMJt8lQ
14,"Food, Delis, Italian, Bakeries, Restaurants",0bPLkL0QhhPO5kt1_EXmNQ
16,"Automotive, Auto Parts & Supplies, Auto Custom...",rBmpy_Y1UbBx8ggHlyb7hA
...,...,...
150322,"Fondue, Beer, Wine & Spirits, Food, Restaurants",2MAQeAqmD8enCT2ZYqUgIQ
150323,"Bars, Gastropubs, Sandwiches, Nightlife, Resta...",w_4xUt-1AyY2ZwKtnjW0Xg
150328,"Specialty Food, Food, Coffee & Tea, Coffee Roa...",1jx1sfgjgVg0nM6n3p0xWA
150329,"Day Spas, Beauty & Spas, Skin Care, Massage",9U1Igcpe954LoWZRmNc-zg
150339,"Restaurants, Comfort Food, Food, Food Trucks, ...",2O2K6SXPWv56amqxCECd4w

In [11]:
df_categoria.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47113 entries, 6 to 150339
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   categories   47113 non-null  object
 1   business_id  47113 non-null  object
dtypes: object(2)
memory usage: 1.1+ MB

In [9]:
data_type_process = {
    "columna": df_categoria.columns.tolist(), 
    "tipo": [df_categoria[columna].apply(type).unique() for columna in df_categoria.columns]
}

#Se visualizara el nombre de la columna y su tipo de dato
data_type = pd.DataFrame(data_type_process)
data_type

       columna             tipo
0   categories  [<class 'str'>]
1  business_id  [<class 'str'>]

In [4]:
#se utiliza la variable duplicados para guardar la busqueda y poder comparar
duplicados= df_categoria.loc[df_categoria.duplicated()]
duplicados

Empty DataFrame
Columns: [categories, business_id]
Index: []

In [8]:
# se utiliza para eliminar duplicados
df_categoria = df_categoria.drop_duplicates(keep='first')

In [5]:
#se utiliza para sumar los nulos
nulos= df_categoria.isnull().sum()
nulos

categories     0
business_id    0
dtype: int64

In [ ]:
# se eliminan valores nulos por columnas
df_categoria = df_categoria.dropna(subset=['#columna con nulos'])
df_categoria = df_categoria.dropna(subset=['#columna con nulos'])