In [2]:
# Importamos librerias
import ast           
import pandas as pd     
import pyarrow as pa   
import pyarrow.parquet as pq  
import os              
from textblob import TextBlob

In [3]:
#se carga la base de datos
df_business = pd.read_parquet('business.parquet')

In [6]:
# Observamos tipos de datos
df_business.dtypes

business_id        object
name               object
state              object
latitude          float64
longitude         float64
avg_rating        float64
num_of_reviews      int64
categories         object
dtype: object

In [8]:
# Observamos duplicados
df_business.duplicated().sum()

0

In [9]:
# eliminamos duplicados
df_business.drop_duplicates(inplace=True)

In [7]:
# Osbervamos nulos
df_business.isnull().sum()

business_id       0
name              0
state             0
latitude          0
longitude         0
avg_rating        0
num_of_reviews    0
categories        0
dtype: int64

In [9]:
# se eliminan valores 
df_business.dropna(inplace=True)

In [11]:
df_business.head()

,business_id,name,state,latitude,longitude,avg_rating,num_of_reviews,categories
6,n_0UpQx1hsNbnPUSlodU8w,Famous Footwear,PA,38.627695,-90.340465,2.5,13,"Sporting Goods, Fashion, Shoe Stores, Shopping..."
10,UJsufbvfyfONHeWdvAHKjA,Marshalls,FL,28.190459,-82.457380,3.5,6,"Department Stores, Shopping, Fashion"
13,jaxMSoInw8Poo3XeMJt8lQ,Adams Dental,FL,27.966235,-82.787412,5.0,10,"General Dentistry, Dentists, Health & Medical,..."
14,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,FL,27.916116,-82.760461,4.5,100,"Food, Delis, Italian, Bakeries, Restaurants"
16,rBmpy_Y1UbBx8ggHlyb7hA,Arizona Truck Outfitters,FL,32.229872,-110.972342,4.5,10,"Automotive, Auto Parts & Supplies, Auto Custom..."

In [ ]:
# Exportamos resultados
df_business.to_csv('business.csv', index=False)
df_business.to_parquet('business.parquet')