In [1]:
# Importamos librerías
import json             # Módulo de codificador y decodificador JSON
import ast              # Módulo de Árboles de Sintaxis Abstracta
import pandas as pd     # Librería para manipular datasets
import pyarrow as pa    # Útil para operaciones de lectura y escritura de datos
import pyarrow.parquet as pq   # Útil para leer y escribir datos en formato Parquet de manera eficiente
import os               # creación de directorios y comprobación de existencia
from textblob import TextBlob

In [2]:
# Ruta al archivo JSON
file_path = 'checkin.json'

# Lista para almacenar los datos
data = []

# Abrir el archivo JSON y cargar su contenido en un objeto Python
with open(file_path, 'r', encoding='utf-8') as file:
    for line in file:
        # Cargar la línea como un objeto JSON y agregarlo a la lista
        data.append(json.loads(line))

# Si deseas visualizar los primeros elementos del archivo JSON, puedes convertirlo a un DataFrame de Pandas
checkin = pd.DataFrame(data)
checkin

,business_id,date
0,---kPU91CF4Lq2-WlRu9Lw,"2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020..."
1,--0iUa4sNDFiZFrAdIWhZQ,"2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011..."
2,--30_8IhuyMHbSOcNWd6DQ,"2013-06-14 23:29:17, 2014-08-13 23:20:22"
3,--7PUidqRWpRSpXebiyxTg,"2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012..."
4,--7jw19RH9JKXgFohspgQw,"2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014..."
...,...,...
131925,zznJox6-nmXlGYNWgTDwQQ,"2013-03-23 16:22:47, 2013-04-07 02:03:12, 2013..."
131926,zznZqH9CiAznbkV6fXyHWA,2021-06-12 01:16:12
131927,zzu6_r3DxBJuXcjnOYVdTw,"2011-05-24 01:35:13, 2012-01-01 23:44:33, 2012..."
131928,zzw66H6hVjXQEt0Js3Mo4A,"2016-12-03 23:33:26, 2018-12-02 19:08:45"
131929,zzyx5x0Z7xXWWvWnZFuxlQ,2015-01-06 17:51:53

In [3]:
checkin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131930 entries, 0 to 131929
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   business_id  131930 non-null  object
 1   date         131930 non-null  object
dtypes: object(2)
memory usage: 2.0+ MB

In [4]:
#Se creo un diccionario con claves columna y tipo
# columna - almacena los nombres de las columnas
# tipo - almacena tipos de datos únicos para cada columna
data_type_process = {
    "columna": checkin.columns.tolist(), 
    "tipo": [checkin[columna].apply(type).unique() for columna in checkin.columns]
}

#Se visualizara el nombre de la columna y su tipo de dato
data_type = pd.DataFrame(data_type_process)
data_type

       columna             tipo
0  business_id  [<class 'str'>]
1         date  [<class 'str'>]

In [6]:
#se utiliza la variable duplicados para guardar la busqueda y poder comparar
duplicados= checkin.loc[checkin.duplicated()]
duplicados

Empty DataFrame
Columns: [business_id, date]
Index: []

In [7]:
nulos= checkin.isnull().sum()
nulos

business_id    0
date           0
dtype: int64