In [1]:
# importamos las librerias necesarias
import pandas as pd
import json
import os
import datetime
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Cambiar el directorio de trabajo al directorio donde se encuentran los archivos JSON
%cd ./metadata-sitios
# Obtener una lista de archivos en el directorio actual
archivos = os.listdir()

# Crear un DataFrame vacío para almacenar los datos
df_metadata = pd.DataFrame()

# Iterar sobre cada archivo en la lista de archivos
for archivo in archivos:
    # Verificar si el archivo tiene la extensión .json
    if archivo.endswith('.json'):
        # Leer el archivo JSON y cargarlo en un DataFrame
        data = pd.read_json(archivo, lines=True)
        # Concatenar los datos del archivo al DataFrame principal
        df_metadata = pd.concat([df_metadata, data], axis=0)
print("finalizo cargan de datos")

c:\Users\sebas\OneDrive\Escritorio\Proyecto-Grupal-Google-yelp\Sprint 1 Propuesta de Trabajo\EDA Google\metadata-sitios
finalizo cargan de datos

In [3]:
# Eliminamos columnas irrelevantes
df_metadata.drop(columns=['address', 'state', 'relative_results', 'url','hours','description'], inplace=True)

In [4]:
from pandas import json_normalize 

# Desanidar los datos de la columna "MISC"
df_desanidado = json_normalize(df_metadata['MISC'])

In [7]:
# Vamos a trabajar con una copia de metadata para crear una posible tabla "service_characteristics"

# Resetear el índice del DataFrame df_gmap_id
df_gmap_id.reset_index(drop=True, inplace=True)

# Combinar los DataFrames desanidados
df_service = pd.concat([df_gmap_id, df_desanidado], axis=1)

In [12]:
# Eliminamos columna MISC
df_metadata.drop(columns=['MISC'], inplace=True)

In [13]:
df_metadata.head(2)

,name,gmap_id,latitude,longitude,category,avg_rating,num_of_reviews,price
0,Porter Pharmacy,0x88f16e41928ff687:0x883dad4fd048e8f8,32.388300,-83.35710,[Pharmacy],4.9,16,None
1,City Textile,0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,34.018891,-118.21529,[Textile exporter],4.5,6,None

In [ ]:
# Función para obtener el primer elemento de la lista en la columna categoria
def primer_categoria(lista):
    return lista[0]

# Aplicar la función a cada fila de la columna 'category'
df_metadata['categoria_1'] = df_metadata['category'].apply(primer_categoria)

# hacemos lo mismo para todas las categorias, si no hay cagoria en dicho el valor se rellena con ""
def primer_categoria(lista):
    return lista[1]
def primer_categoria(lista):
    return lista[1]
def primer_categoria(lista):
    return lista[1]
def primer_categoria(lista):
    return lista[1]

In [ ]:
# Verificar si hay valores duplicados
#df_metadata.duplicated().sum()

TypeError: unhashable type: 'list'

In [ ]:
# Verificar si hay valores nulos
df_metadata.isnull().sum()

name                      37
gmap_id                    0
latitude                   0
longitude                  0
category               17419
avg_rating                 0
num_of_reviews             0
price                2749808
MISC                  690834
Service options      2119050
Health & safety      2641894
Accessibility        1076425
Planning             2237300
Offerings            2607210
Amenities            2480846
Atmosphere           2833415
Payments             2625062
Popular for          2872857
Dining options       2876742
Crowd                2868077
From the business    2927468
Highlights           2807941
Recycling            3023643
Getting here         3023757
Activities           3024535
Lodging options      3025006
Health and safety    3011441
dtype: int64