In [2]:
# importamos las librerias necesarias
import pandas as pd
import json
import os
import datetime
import matplotlib.pyplot as plt
import numpy as np

In [3]:
# Cambiar el directorio de trabajo al directorio donde se encuentran los archivos JSON
%cd ./metadata-sitios
# Obtener una lista de archivos en el directorio actual
archivos = os.listdir()

# Crear un DataFrame vacío para almacenar los datos
df_metadata = pd.DataFrame()

# Iterar sobre cada archivo en la lista de archivos
for archivo in archivos:
    # Verificar si el archivo tiene la extensión .json
    if archivo.endswith('.json'):
        # Leer el archivo JSON y cargarlo en un DataFrame
        data = pd.read_json(archivo, lines=True)
        # Concatenar los datos del archivo al DataFrame principal
        df_metadata = pd.concat([df_metadata, data], axis=0)
print("finalizo cargan de datos")

c:\Users\sebas\OneDrive\Escritorio\Proyecto-Grupal-Google-yelp\Sprint 1 Propuesta de Trabajo\EDA Google\metadata-sitios
finalizo cargan de datos

In [4]:
# Eliminamos columnas irrelevantes
df_metadata.drop(columns=['address', 'state', 'relative_results', 'url','hours','description'], inplace=True)

In [5]:
from pandas import json_normalize 

# Desanidar los datos de la columna "MISC"
df_desanidado = json_normalize(df_metadata['MISC'])

In [14]:
# Vamos a trabajar con una copia de metadata para crear una posible tabla "service_characteristics"
df_gmap_id = df_metadata.copy()
# Resetear el índice del DataFrame df_gmap_id
df_gmap_id.reset_index(drop=True, inplace=True)

# Combinar los DataFrames desanidados
df_service = pd.concat([df_gmap_id, df_desanidado], axis=1)

In [16]:
# Eliminamos columna MISC
df_metadata.drop(columns=['MISC'], inplace=True)

In [8]:
def primer_categoria(lista):
    if lista and len(lista) >= 1:
        return lista[0]
    else:
        return None  

# Aplicar la función a cada fila de la columna 'category'
df_metadata['categoria_1'] = df_metadata['category'].apply(primer_categoria)

In [9]:
# Eliminamos columna category
df_metadata.drop(columns=['category'], inplace=True)

In [25]:
df_metadata.head(2)

,name,gmap_id,latitude,longitude,avg_rating,num_of_reviews,price,categoria_1
0,Porter Pharmacy,0x88f16e41928ff687:0x883dad4fd048e8f8,32.388300,-83.35710,4.9,16,None,Pharmacy
1,City Textile,0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,34.018891,-118.21529,4.5,6,None,Textile exporter

In [27]:
# Verificar si hay valores duplicados
df_metadata.duplicated().value_counts()

False    2173428
True       26580
Name: count, dtype: int64

In [28]:
df_metadata.drop_duplicates(inplace=True)

In [29]:
# Verificar si hay valores nulos
df_metadata.isnull().sum()

name                   31
gmap_id                 0
latitude                0
longitude               0
avg_rating              0
num_of_reviews          0
price             2016415
categoria_1         13945
dtype: int64

In [31]:
lista_categorias = df_metadata["categoria_1"].tolist()

In [34]:
df_metadata.to_csv("metadata.csv", index=False)