# ETL

In [1]:
# importamos librerias
import os
import pandas as pd

In [2]:


# Obtener la ruta del directorio donde está ubicado el notebook
directorio_notebook = os.getcwd()

# Nombre de la carpeta que contiene los archivos JSON
nombre_carpeta = "florida_data"

# Construir la ruta completa a la carpeta que contiene los archivos JSON
ruta_carpeta = os.path.join(directorio_notebook, nombre_carpeta)

# Creamos una lista con todos los archivos .json en la carpeta
archivos = os.listdir(ruta_carpeta)

# Creamos un DataFrame vacío para almacenar los datos
df = pd.DataFrame()

# Iteramos sobre los archivos en la lista de archivos
for archivo in archivos:
    # Verificamos que el archivo cuente con la extensión .json
    if archivo.endswith('.json'):
        # Construimos la ruta completa al archivo
        ruta_completa = os.path.join(ruta_carpeta, archivo)
        # Leer el archivo JSON y cargarlo en un DataFrame
        data = pd.read_json(ruta_completa, lines=True)
        # Concatenar los datos del archivo al DataFrame principal
        df = pd.concat([df, data], axis=0)

Cargando data 1.json ...
Cargando data 10.json ...
Cargando data 11.json ...
Cargando data 12.json ...
Cargando data 13.json ...
Cargando data 14.json ...
Cargando data 15.json ...
Cargando data 16.json ...
Cargando data 17.json ...
Cargando data 18.json ...
Cargando data 19.json ...
Cargando data 2.json ...
Cargando data 3.json ...
Cargando data 4.json ...
Cargando data 5.json ...
Cargando data 6.json ...
Cargando data 7.json ...
Cargando data 8.json ...
Cargando data 9.json ...

In [2]:
# Visualizamos el data frame 
df.head(6)

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.014719e+20,Julie A. Gerber,1628003250740,1,Update: Their “reply” to my review amounted to...,None,"{'time': 1627042799532, 'text': 'Thank you for...",0x8893863ea87bd5dd:0x9383ebf973e74abb
1,1.154772e+20,Martin Sheffield,1595031217005,5,He's a knowledgeable doctor but the way he run...,None,"{'time': 1582464056733, 'text': 'Thank you for...",0x8893863ea87bd5dd:0x9383ebf973e74abb
2,1.018050e+20,Brian Truett,1522924253567,5,"Best doctor I've ever had, I never wait to be ...",None,None,0x8893863ea87bd5dd:0x9383ebf973e74abb
3,1.063444e+20,Tina Sun,1467907819586,1,I was told he is a good doctor. I was trying t...,None,None,0x8893863ea87bd5dd:0x9383ebf973e74abb
4,1.008751e+20,James Haynes,1480683415081,5,Takes the time to actually get to know his pat...,None,None,0x8893863ea87bd5dd:0x9383ebf973e74abb
5,1.034388e+20,Rosa Lazaro,1540086464316,5,Very good doctor,None,None,0x8893863ea87bd5dd:0x9383ebf973e74abb

In [3]:
#Elimino la columna pics y resp 
df = df.drop(['pics','resp'],axis=1)

In [4]:

# elimino duplicados del df 
df_sin_duplicados = df.drop_duplicates()

#elimino nulos 
df_clean = df_sin_duplicados.dropna(subset=['text'])

In [5]:
import datetime

# Normalizamos la columna time creando la columna time_normalizado con la fecha en el formato %d/%m/%y %H:%M:%S 
times = [] 
for data in df_clean['time']/1000 :
    times.append(datetime.datetime.utcfromtimestamp(data).strftime('%d/%m/%y %H:%M:%S'))
df_clean['time_normalizado']=times

C:\Users\sebas\AppData\Local\Temp\ipykernel_26560\513605724.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['time_normalizado']=times

In [6]:
df_clean.head(6)

,user_id,name,time,rating,text,gmap_id,time_normalizado
0,1.014719e+20,Julie A. Gerber,1628003250740,1,Update: Their “reply” to my review amounted to...,0x8893863ea87bd5dd:0x9383ebf973e74abb,03/08/21 15:07:30
1,1.154772e+20,Martin Sheffield,1595031217005,5,He's a knowledgeable doctor but the way he run...,0x8893863ea87bd5dd:0x9383ebf973e74abb,18/07/20 00:13:37
2,1.018050e+20,Brian Truett,1522924253567,5,"Best doctor I've ever had, I never wait to be ...",0x8893863ea87bd5dd:0x9383ebf973e74abb,05/04/18 10:30:53
3,1.063444e+20,Tina Sun,1467907819586,1,I was told he is a good doctor. I was trying t...,0x8893863ea87bd5dd:0x9383ebf973e74abb,07/07/16 16:10:19
4,1.008751e+20,James Haynes,1480683415081,5,Takes the time to actually get to know his pat...,0x8893863ea87bd5dd:0x9383ebf973e74abb,02/12/16 12:56:55
5,1.034388e+20,Rosa Lazaro,1540086464316,5,Very good doctor,0x8893863ea87bd5dd:0x9383ebf973e74abb,21/10/18 01:47:44

In [6]:
# Cambiamos el valor de la columna time_normalizado de object a datetime 
df_clean['time_normalizado'] = pd.to_datetime(df_clean['time_normalizado'])

C:\Users\sebas\AppData\Local\Temp\ipykernel_26560\315341314.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_clean['time_normalizado'] = pd.to_datetime(df_clean['time_normalizado'])
C:\Users\sebas\AppData\Local\Temp\ipykernel_26560\315341314.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['time_normalizado'] = pd.to_datetime(df_clean['time_normalizado'])

In [7]:
# Verificamos el cambio 
df_clean.dtypes

user_id                    float64
name                        object
time                         int64
rating                       int64
text                        object
gmap_id                     object
time_normalizado    datetime64[ns]
dtype: object

In [8]:
# Extraer el año de la columna "time_normalizado" y crear una nueva columna "year"
df_clean["year"] = df_clean["time_normalizado"].dt.year

C:\Users\sebas\AppData\Local\Temp\ipykernel_26560\1958986005.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean["year"] = df_clean["time_normalizado"].dt.year

In [9]:
# Valores que deseas conservar en la columna "year"
valores_a_mantener = [2014, 2015, 2016 , 2017, 2018 , 2019 , 2020 , 2021]

# Eliminar los valores de la columna "year" que no están en la lista de valores_a_mantener
df_clean1 = df_clean[df_clean["year"].isin(valores_a_mantener)]

In [10]:
# eliminamos la columna year
df_final_florida = df_clean1.drop(['year'],axis=1)

In [11]:
# verificamos el tamaño del df
df_final_florida.shape

(1649037, 7)

In [20]:
# cambio el nombre de la columna gmap_id a business_id y time_normalizado a date
df_final_florida.rename(columns={'gmap_id': 'business_id', 'time_normalizado': 'timestamp'}, inplace=True)

In [21]:
# chequeamos los resultados
df_final_florida.head(3)

,user_id,name,time,rating,text,business_id,timestamp
0,1.014719e+20,Julie A. Gerber,1628003250740,1,Update: Their “reply” to my review amounted to...,0x8893863ea87bd5dd:0x9383ebf973e74abb,2021-03-08 15:07:30
1,1.154772e+20,Martin Sheffield,1595031217005,5,He's a knowledgeable doctor but the way he run...,0x8893863ea87bd5dd:0x9383ebf973e74abb,2020-07-18 00:13:37
2,1.018050e+20,Brian Truett,1522924253567,5,"Best doctor I've ever had, I never wait to be ...",0x8893863ea87bd5dd:0x9383ebf973e74abb,2018-05-04 10:30:53

In [22]:
# Exportamos el df 
df_final_florida.to_csv('florida.csv', index=False)