## ETL Pennsylvania

In [27]:
#Importacion de librerías
import pandas as pd
import os
import datetime
import matplotlib.pyplot as plt
import seaborn as sns

# remueve los warnings
import warnings
warnings.filterwarnings('ignore')

In [28]:
# Cambiar el directorio de trabajo al directorio donde se encuentran los archivos JSON
%cd .\pennsylvania_data

# Obtener una lista de archivos en el directorio actual
archivos = os.listdir()

# Crear un DataFrame vacío para almacenar los datos
df_pennsylvania = pd.DataFrame()

# Iterar sobre cada archivo en la lista de archivos
for archivo in archivos:
    # Verificar si el archivo tiene la extensión .json
    if archivo.endswith('.json'):
        # Leer el archivo JSON y cargarlo en un DataFrame
        data = pd.read_json(archivo, lines=True)
        # Concatenar los datos del archivo al DataFrame principal
        df_pennsylvania = pd.concat([df_pennsylvania, data], axis=0)
print("finalizo cargan de datos")

[WinError 2] El sistema no puede encontrar el archivo especificado: '.\\pennsylvania_data'
e:\HENRY\Proyecto Final\PO_2\Proyecto-Grupal-Google-yelp\Sprint 2 Ingenieria de Datos\ETL_google\pennsylvania_data

finalizo cargan de datos

In [29]:
# Visualizamos el dataframe 
df_pennsylvania.head(3)

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.049447e+20,Jaron Whitfield,1517731762839,5,"Joe is quite unique of his line of work, he as...",None,None,0x89c6c63c8cd87141:0x54d0d283872eecbb
1,1.176097e+20,Jonathan McCarthy,1476276291163,5,For such a small place their impact on my life...,None,None,0x89c6c63c8cd87141:0x54d0d283872eecbb
2,1.105632e+20,Rocky Kev,1338826945578,5,I usually give them a call before I stop by to...,None,None,0x89c6c63c8cd87141:0x54d0d283872eecbb

In [30]:
#Tamaño del dataframe
df_pennsylvania.shape

(2400000, 8)

In [31]:
#Visualizar información
df_pennsylvania.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2400000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  float64
 1   name     object
 2   time     int64
 3   rating   int64
 4   text     object
 5   pics     object
 6   resp     object
 7   gmap_id  object
dtypes: float64(1), int64(2), object(5)
memory usage: 164.8+ MB

In [32]:
#Eliminar Columna Pics y Resp
df_pennsylvania=df_pennsylvania.drop(['pics','resp'],axis=1)

In [33]:
# Normalizamos la columna time creando la columna time_normalizado con la fecha en el formato %d/%m/%y %H:%M:%S 
times = [] 
for data in df_pennsylvania['time']/1000 :
    times.append(datetime.datetime.utcfromtimestamp(data).strftime('%d/%m/%y %H:%M:%S'))
df_pennsylvania['time_normalizado']=times

In [34]:
# Filtrado de columnas
df_pennsylvania = df_pennsylvania[['user_id','name','time_normalizado','rating','text','gmap_id']]

In [35]:
# Verificamos el tipo de dato en las columnas 
df_pennsylvania.dtypes

user_id             float64
name                 object
time_normalizado     object
rating                int64
text                 object
gmap_id              object
dtype: object

In [36]:
df_pennsylvania['user_id'] = df_pennsylvania['user_id'].astype(object)

In [37]:
# Visualizamos el dataframe 
df_pennsylvania.head(2)

,user_id,name,time_normalizado,rating,text,gmap_id
0,104944742559079759872.0,Jaron Whitfield,04/02/18 08:09:22,5,"Joe is quite unique of his line of work, he as...",0x89c6c63c8cd87141:0x54d0d283872eecbb
1,117609702832980328448.0,Jonathan McCarthy,12/10/16 12:44:51,5,For such a small place their impact on my life...,0x89c6c63c8cd87141:0x54d0d283872eecbb

In [38]:
#Valores Nulos
df_pennsylvania.isnull().sum()

user_id                   0
name                      0
time_normalizado          0
rating                    0
text                1041386
gmap_id                   0
dtype: int64

In [39]:
df_pennsylvania.duplicated().sum()

33568

In [40]:
 # eliminar filas que tienen valores nulos
df_pennsylvania.dropna(inplace=True)   

# eliminar filas duplicadas
df_pennsylvania.drop_duplicates(inplace=True)

# Restablecer el índice
df_pennsylvania.reset_index(drop=True,inplace=True)

In [41]:
#Comprobar el tamaño del dataframe
df_pennsylvania.shape

(1328047, 6)

In [42]:
# Cantidad de datos segun el año 
#conteo_por_año = df_pennsylvania['año'].value_counts().sort_index()
#print(conteo_por_año)

In [43]:
# Guardar el DF
#df_pennsylvania.to_csv('',index=False)