## ETL California

In [8]:
#Importacion de librerías
import pandas as pd
import os
import datetime
import matplotlib.pyplot as plt
import seaborn as sns

# remueve los warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Cambiar el directorio de trabajo al directorio donde se encuentran los archivos JSON
%cd .\pennsylvania_data

# Obtener una lista de archivos en el directorio actual
archivos = os.listdir()

# Crear un DataFrame vacío para almacenar los datos
df_pennsylvania = pd.DataFrame()

# Iterar sobre cada archivo en la lista de archivos
for archivo in archivos:
    # Verificar si el archivo tiene la extensión .json
    if archivo.endswith('.json'):
        # Leer el archivo JSON y cargarlo en un DataFrame
        data = pd.read_json(archivo, lines=True)
        # Concatenar los datos del archivo al DataFrame principal
        df_pennsylvania = pd.concat([df_pennsylvania, data], axis=0)
print("finalizo cargan de datos")

e:\HENRY\Proyecto Final\PO_2\Proyecto-Grupal-Google-yelp\Sprint 2 Ingenieria de Datos\ETL_google\pennsylvania_data
finalizo cargan de datos

In [9]:
# Visualizamos el dataframe 
df_pennsylvania.head(3)

,user_id,name,time,rating,text,gmap_id
0,1.049447e+20,Jaron Whitfield,1517731762839,5,"Joe is quite unique of his line of work, he as...",0x89c6c63c8cd87141:0x54d0d283872eecbb
1,1.176097e+20,Jonathan McCarthy,1476276291163,5,For such a small place their impact on my life...,0x89c6c63c8cd87141:0x54d0d283872eecbb
2,1.105632e+20,Rocky Kev,1338826945578,5,I usually give them a call before I stop by to...,0x89c6c63c8cd87141:0x54d0d283872eecbb

In [6]:
#Tamaño del dataframe
df_pennsylvania.shape

(2400000, 8)

In [13]:
#Visualizar información
df_pennsylvania.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2400000 entries, 0 to 149999
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           float64
 1   name              object
 2   rating            int64
 3   text              object
 4   gmap_id           object
 5   time_normalizado  object
dtypes: float64(1), int64(1), object(4)
memory usage: 128.2+ MB

In [7]:
#Eliminar Columna Pics y Resp
df_pennsylvania=df_pennsylvania.drop(['pics','resp'],axis=1)

In [10]:
# Normalizamos la columna time creando la columna time_normalizado con la fecha en el formato %d/%m/%y %H:%M:%S 
times = [] 
for data in df_pennsylvania['time']/1000 :
    times.append(datetime.datetime.utcfromtimestamp(data).strftime('%d/%m/%y %H:%M:%S'))
df_pennsylvania['time_normalizado']=times

In [11]:
# Eliminamos time y verificamos la creacion de la nueva columna
df_pennsylvania=df_pennsylvania.drop(['time',],axis=1)

In [14]:
# Visualizamos el dataframe 
df_pennsylvania.head(2)

,user_id,name,rating,text,gmap_id,time_normalizado
0,1.049447e+20,Jaron Whitfield,5,"Joe is quite unique of his line of work, he as...",0x89c6c63c8cd87141:0x54d0d283872eecbb,04/02/18 08:09:22
1,1.176097e+20,Jonathan McCarthy,5,For such a small place their impact on my life...,0x89c6c63c8cd87141:0x54d0d283872eecbb,12/10/16 12:44:51

In [15]:
#Valores Nulos
df_pennsylvania.isnull().sum()

user_id                   0
name                      0
rating                    0
text                1041386
gmap_id                   0
time_normalizado          0
dtype: int64

In [17]:
df_pennsylvania.duplicated().sum()

33568

In [18]:
 # eliminar filas que tienen valores nulos
df_pennsylvania.dropna(inplace=True)   

# eliminar filas duplicadas
df_pennsylvania.drop_duplicates(inplace=True)

# Restablecer el índice
df_pennsylvania.reset_index(drop=True,inplace=True)

In [20]:
#Comprobar el tamaño del dataframe
df_pennsylvania.shape

(1328047, 6)

In [22]:
# Guardar el DF
#df_pennsylvania.to_csv('',index=False)