In [1]:
import pandas as pd

In [2]:
florida = pd.read_csv(r'C:\Users\sebas\OneDrive\Escritorio\Proyecto-Grupal-Google-yelp\Sprint 2 Ingenieria de Datos\output_tables\florida.csv')

In [3]:
florida.head()

,user_id,name,time,rating,text,business_id,timestamp
0,1.014719e+20,Julie A. Gerber,1628003250740,1,Update: Their “reply” to my review amounted to...,0x8893863ea87bd5dd:0x9383ebf973e74abb,2021-03-08 15:07:30
1,1.154772e+20,Martin Sheffield,1595031217005,5,He's a knowledgeable doctor but the way he run...,0x8893863ea87bd5dd:0x9383ebf973e74abb,2020-07-18 00:13:37
2,1.018050e+20,Brian Truett,1522924253567,5,"Best doctor I've ever had, I never wait to be ...",0x8893863ea87bd5dd:0x9383ebf973e74abb,2018-05-04 10:30:53
3,1.063444e+20,Tina Sun,1467907819586,1,I was told he is a good doctor. I was trying t...,0x8893863ea87bd5dd:0x9383ebf973e74abb,2016-07-07 16:10:19
4,1.008751e+20,James Haynes,1480683415081,5,Takes the time to actually get to know his pat...,0x8893863ea87bd5dd:0x9383ebf973e74abb,2016-02-12 12:56:55